{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
    ToDo - New
{% endblock %}

{% block content %}

<div class='container'>
    <h1>新しいToDoの作成</h1>

    <a href="{% url 'todo:index'%}" class="btn btn-primary btn-sm my-3 text-left">戻る</a>

    <form method="post" class="form">
        <div class='form-group'>
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="text-center">
                <input class="btn btn-success" type="submit" value="作成">
            </div>
        </div>
    </form>
</div>

{% endblock %}
